body {
  background: 
    linear-gradient(0deg, rgba(255, 255, 255, .8), rgba(255, 255, 255, 0)), 
    linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1)), 
    url("assets/bg.jpg");
  background-size: cover;
  background-position-y: 10%;
  background-attachment: fixed;
  margin: 0;
}

#home-page-header {
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  padding: 2rem;
}
#home-page-header h1,
#home-page-header h1 a {
  font-size: 5rem;
  text-decoration: none;
}
#home-page-header * {
  color: white;
}
#home-page-header .ipa {
  color: var(--yellow);
}

#home-page-footer {
  position: fixed;
  left: 0;
  bottom: 2rem;
  width: 15rem;
  margin-left: -17rem;

  text-align: left;
  border-radius: 0 0.5rem 0.5rem 0;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0.2;
  color: white;

  transition: opacity 1s, margin-left 1s;
}
#home-page-footer * {
  color: white;
}
#home-page-footer:hover {
  opacity: 1;
  margin-left: 0;
}
#home-page-footer::after {
  content: "i";
  position: absolute;
  right: 1rem;
  top: 0.5rem;
}

nav {
  display: grid;
  grid-auto-flow: column;
  gap: 1cm;

  font-family: var(--head);
  font-size: 1.5rem;
}

h1.sub,
h2.sub, 
h3.sub, 
h4.sub, 
h5.sub, 
h6.sub {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.ipa {
  font-family: var(--mono);
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  white-space: nowrap;
}
.ipa:before, .ipa:after {
  content: "/";
  display: inline;
  font-size: .8em;
  line-height: 1em;
}

.suffix {
  font-size: 1rem;
}

.wiki-contents {
  background-color: var(--green);
  padding: 12pt;
  border-top: 3pt solid var(--red);
  border-bottom: 3pt solid var(--red);
  break-inside: avoid;
  margin: 2mm 2mm 2mm 2mm;
  list-style-position: inside;
  list-style-type: none;
}
.wiki-contents h3 {
  font-family: var(--head);
  font-weight: 700;
  font-variant: small-caps;
  color: var(--red);
  font-size: 18pt;
  margin-block-end: 2pt;
  margin-block-start: 2pt;
}
ul.wiki-contents li:hover {
  background-color: rgba(255, 255, 255, .2)
}
ul.wiki-contents a {
  text-decoration: none;
}
li.wiki-contents-folder {
  padding-top: .5rem;
  font-weight: bold;
  color: var(--red);
}
li.wiki-contents-folder::marker {
  content: "";
}
li.wiki-contents-page {
  padding: .5rem;
  font-weight: normal;
  color: black;
}
li.wiki-contents-page::marker {
  content: "🗎    ";
}

hex-grid {
  column-span: all;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  margin: 28px;
}

ul.wiki-breadcrumbs {
  position: absolute;
  bottom: 1cm;
  right: 2cm;
  margin-top: 4rem;
  opacity: 0.5;
  list-style-type: none;
}
ul.wiki-breadcrumbs:hover {
  opacity: 1;
}
ul.wiki-breadcrumbs li {
  display: inline;
}
ul.wiki-breadcrumbs li:not(:first-child)::before {
  content: ">";
  margin: .5rem;
}